{% extends "AppEntrega/padre.html" %}

{% block titulo %}
bienvenidos a trucos
{% endblock titulo %}



{% block contenido %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">           
                            <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
                            <h1>trucos</h1>
                            <p>Acá va la info de los trucos que me gustan</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}